:root {
    --main-h3: #6C757D;
    --button: #E5BFCB;
    --color-texto: #202124;
    --input-border: #ccc;
    --input-placeholder: #999;
    --separator-color-text: #555;
}
.logo{
    width: 597px;
    height: 165px;
}

.container{
    display: grid;
    justify-items: center;
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

main button {
  margin-top: 2vh;
  background-color: var(--button);
  color: var(--color-texto);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

main h2{
    font-size: 24px;
    display: grid;
    justify-content: center;
}

main h3{
    color: var(--main-h3);
    font-size: 16px;
    display: grid;
    justify-content: center;
}

input[type="email"] {
  border: 1px solid var(--input-border);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-texto);
  box-sizing: border-box;
  width: 50vh;
  height: 40px; 
}

input[type="email"]::placeholder {
  color: var(--input-placeholder);
}

button{
    margin-top: 10px;
}

.separator-line {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.separator-line span:nth-child(1),
.separator-line span:nth-child(3) {
  flex-grow: 1;
  height: 1px;
  background-color: var(--input-border);
}

.separator-line span:nth-child(2) {
  padding: 0 10px;
  white-space: nowrap;
  font-size: 1em;
  color: var(--separator-color-text);
}

button.acceder img.google {
  width: 22px;
  height: auto;
}

button.acceder {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.acceder img.google {
  margin-right: 10px;
}

button.acceder p {
  display: inline;
  width: auto;
  margin: 0;
}

