:root {
  --color-verde: #34A853;
  --color-rojo: #EA4335;
  --color-amarillo: #FBBC05;
  --color-azul: var(--color-principal);
  --color-fondo: var(--color-secundario);
  --borde-rad: 14px;
  --sombra: 0 4px 10px rgba(0, 0, 0, 0.05);
}

body {
  display: flex;
  height: 100vh;
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
}

.layout {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 240px;
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar .logo {
  text-align: center;
}

.sidebar .logo img {
  width: 23vh;
  height: auto;
}

.sidebar .logo h2 {
  font-size: 18px;
  margin: 10px 0 0;
  color: var(--color-texto);
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar nav a {
  color: var(--color-texto);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background 0.3s;
}

.sidebar nav a.active,
.sidebar nav a:hover {
  background-color: var(--color-secundario);
}


.content {
  flex-grow: 1;
  padding: 40px;
  overflow-y: auto;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 30px;
  color: var(--color-texto);
}

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.chart-card {
  background: white;
  border-radius: var(--borde-rad);
  box-shadow: var(--sombra);
  padding: 20px;
}

